@font-face {
	font-family : 'PTRoubleSans';
	src         : url(../fonts/PTRoubleSans.eot);
	src         : url(../fonts/PTRoubleSans.eot?#iefix) format("embedded-opentype"),
								url(../fonts/PTRoubleSans.svg) format("svg"),
								url(../fonts/PTRoubleSans.woff) format("woff"),
								url(../fonts/PTRoubleSans.ttf) format("truetype");
	font-weight : normal;
	font-style  : normal;
}