@import "variables";

@font-face {
  font-family: 'trinity_icons';
  src:  url('#{$icomoon-font-path}/trinity_icons.eot?u7comr');
  src:  url('#{$icomoon-font-path}/trinity_icons.eot?u7comr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/trinity_icons.ttf?u7comr') format('truetype'),
    url('#{$icomoon-font-path}/trinity_icons.woff?u7comr') format('woff'),
    url('#{$icomoon-font-path}/trinity_icons.svg?u7comr#trinity_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'trinity_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-trinity {
  &:before {
    content: $i-trinity;
  }
}
.i-badge {
  &:before {
    content: $i-badge;
  }
}
.i-delivery-truck {
  &:before {
    content: $i-delivery-truck;
  }
}
.i-handshake {
  &:before {
    content: $i-handshake;
  }
}
.i-map-marker {
  &:before {
    content: $i-map-marker;
  }
}
.i-medal-of-award {
  &:before {
    content: $i-medal-of-award;
  }
}
.i-server-accept {
  &:before {
    content: $i-server-accept;
  }
}
.i-settings-work-tool {
  &:before {
    content: $i-settings-work-tool;
  }
}
.i-shopping-cart-of-horizontal-lines-design {
  &:before {
    content: $i-shopping-cart-of-horizontal-lines-design;
  }
}
.i-skype-logo {
  &:before {
    content: $i-skype-logo;
  }
}
.i-smartphone-call {
  &:before {
    content: $i-smartphone-call;
  }
}
.i-stopwatch {
  &:before {
    content: $i-stopwatch;
  }
}
.i-telephone-handle-silhouette {
  &:before {
    content: $i-telephone-handle-silhouette;
  }
}
.i-triple-arrow {
  &:before {
    content: $i-triple-arrow;
  }
}
.i-user-male-silhouette {
  &:before {
    content: $i-user-male-silhouette;
  }
}
.i-verified-protection {
  &:before {
    content: $i-verified-protection;
  }
}
.i-workers-team {
  &:before {
    content: $i-workers-team;
  }
}
.i-write-a-note {
  &:before {
    content: $i-write-a-note;
  }
}
.i-close {
  &:before {
    content: $i-close;
  }
}
.i-chevron-down {
  &:before {
    content: $i-chevron-down;
  }
}

