$icomoon-font-path: "fonts" !default;

$i-badge: "\e900";
$i-delivery-truck: "\e901";
$i-handshake: "\e902";
$i-map-marker: "\e903";
$i-medal-of-award: "\e904";
$i-server-accept: "\e905";
$i-settings-work-tool: "\e906";
$i-shopping-cart-of-horizontal-lines-design: "\e907";
$i-skype-logo: "\e908";
$i-smartphone-call: "\e909";
$i-stopwatch: "\e90a";
$i-telephone-handle-silhouette: "\e90b";
$i-triple-arrow: "\e90c";
$i-user-male-silhouette: "\e90d";
$i-verified-protection: "\e90e";
$i-workers-team: "\e90f";
$i-write-a-note: "\e910";
$i-chevron-down: "\e911";

